<% title @game.name %>

<ul>
	<li>
		<%= link_to "#{@game.game_races.count} Races", game_races_path %>
	</li>
	<li>
		<%= link_to "#{@game.game_monsters.count} Monsters", game_monsters_path %>
	</li>
</ul>
